.todoMods {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  &Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(39, 39, 39);
    border-radius: 10px;
    padding: 10px;
  }
  &Button {
    padding: 0;
    width: 24%;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.7;
    background: #fff;
    transition: 0.4s ease all;
    &Active {
      background: #4086F4;
      color: #fff;
      text-shadow: 0 0 3px #000;
    }
  }
  & .link {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
}

@media (max-width: 992px) {
  .todoMods {
    margin-bottom: 10px;
    &Container {
      padding: 6px 6px 6px 6px;
    }
    &Button {
      &Active {
        text-shadow: 0 0 px #000;
      }
    }
  }  
}