$custom-purple: #9198ff;
$custom-red: #eb4132;

.todoForm {
  border-radius: 10px;
  &Container {
    border-radius: inherit;
    padding: 10px 10px 10px 10px;
    margin-bottom: 25px;
    background: rgb(39, 39, 39);
    &UpdateForm {
      margin-bottom: 0;
      width: 80vw;
    }
  }
  &Input,
  &Textarea {
    background: none;
    border: 3px solid $custom-purple;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
    color: white;
    padding: 0 10px;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px 0 $custom-purple;
    }
    &WithError {
      border: 3px solid $custom-red;
      &:focus {
        outline: none;
        box-shadow: 0 0 10px 0 $custom-red;
      }
    }
  }
  &Textarea {
    resize: none;
    height: 78px;
  }
  & .formError {
    color: $custom-red;
    font-size: 0.8em;
  }
  ::-webkit-scrollbar-button:vertical:start:decrement {
    border-top-right-radius: 10px;
  }
  ::-webkit-scrollbar-button:vertical:end:increment {
    border-bottom-right-radius: 10px;
  }
}

.addButton {
  width: 100%;
  border-radius: 5px;
  border: none;
  background: $custom-purple;
}

.titleInputSection {
  margin-bottom: 5px;
}
.descriptionInputSection {
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .todoForm {
    &Container {
      padding: 6px 6px 6px 6px;
      margin-bottom: 10px;
    }
    &Textarea {
      height: 46px;
    }
  }
}
