.task {
  transition: 0.5s ease;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* background: #A1A5D7; */
  background: rgb(39, 39, 39);
  box-shadow: 0 0 30px -10px black;
  padding: 10px 10px 10px 10px;
  &Container {
    border-radius: inherit;
    list-style-type: none;
    margin-bottom: 15px;
  }
  &Important {
    background: #ebb540;
    color: black;
  }
  &Info {
    padding: 0 15px 0 0;
    flex: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &Done {
      text-decoration: line-through;
    }
  }
  &Title {
    font-size: 1.5em;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical; */
  }
  &Description {
    font-size: 0.9em;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical; */
  }
  &Date {
    font-size: 0.7em;
    margin-top: auto;
  }
  &Control {
    flex: 1;
    display: flex;
    flex-direction: column;
    & button {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 992px) {
  .task {
    padding: 6px 6px 6px 6px;
  }
}
