.todoForm {
  border-radius: 10px;
  &Container {
    border-radius: inherit;
    padding: 10px 10px 10px 10px;
    margin-bottom: 25px;
    background: rgb(39, 39, 39);
  }
  &Input {
  }
  &Textarea {
    resize: none;
    height: 72px;
  }
  &Input,
  &Textarea {
    background: none;
    border: 3px solid #a1a5d7;
    border-radius: 10px;
    width: 100%;
    margin-top: 5px;
    color: white;
    padding: 0 10px;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px 0 #a1a5d7;
    }
  }

  ::-webkit-scrollbar {
    width: 14px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #505050;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background: #a1a5d7;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7c7fa5;
  }

  /* Стрелки */

  ::-webkit-scrollbar-button:vertical:start:decrement {
    border-top-right-radius: 10px;
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    border-bottom-right-radius: 10px;
    background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }

  ::-webkit-scrollbar-button:horizontal:start:decrement {
    background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }

  ::-webkit-scrollbar-button:horizontal:end:increment {
    background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
  }
}

.addButton {
  width: 100%;
  border-radius: 5px;
  border: none;
  background: #a1a5d7;
}

.titleInputSection {
  margin-bottom: 5px;
}
.descriptionInputSection {
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .todoForm {
    &Container {
      padding: 6px 6px 6px 6px;
    }
    &Textarea {
      height: 44px;
    }
  }
}
